<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Page</title>
</head>
<body>
    <form action="/result" method="POST">
        <label for="query">Min Latitude:</label><br>
        <input type="text" id="min_lat" name="min_lat"><br>
        <label for="query">Max Latitude:</label><br>    
        <input type="text" id="max_lat" name="max_lat"><br>
        <label for="query">Min Longitude:</label><br>
        <input type="text" id="min_lon" name="min_lon"><br>
        <label for="query">Max Longitude:</label><br>
        <input type="text" id="max_lon" name="max_lon"><br>
        <label for="query">Min Timestamp:</label><br>
        <input type="text" id="min_timestamp" name="min_timestamp"><br>
        <label for="query">Max Timestamp:</label><br>
        <input type="text" id="max_timestamp" name="max_timestamp"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>