<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Similarity Page</title>
</head>
<body>
    <form action="/similarpaths" method="POST">
        <label for="query">Flight Id to query for similar paths:</label><br>
        <input type="text" id="flight_id_query" name="flight_id_query"><br>
        <label for="query">Threshold:</label><br>
        <input type="text" id="threshold" name="threshold"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>